html {
  margin: 10px;
  padding: 10px;
  border: 2px, solid black;
}

.boxmodel {
  display: inline-block;
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 8px solid rgb(3, 175, 3);
  margin: 20px;
  background-color: lightgrey;
  text-align: center;
}

.text-area {
  display: inline-block;
  width: 500px;
  height: 200px;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  color: #ff0000;
  background-color: #2b1c9951;
}
