* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

article {
  position: relative;
  width: 260px;
  height: 90px;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
  padding: 0.5 rem;
}

article .pokenumber {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #d1d5db;
}

article img {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 60px;
  height: auto;
}

article .typeoverview {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

article .type {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: white;
}

h2 {
  color: #4078c0;
}

.type.grass {
  background-color: #78c850;
}
.type.poison {
  background-color: #a040a0;
}
.type.fire {
  background-color: #f08030;
}
.type.flying {
  background-color: #a890f0;
}
