* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.nav-header {
  background-color: black;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .nav-header-logo {
    height: 50%;
    margin-right: 10px;
  }
}

.main-nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.main-nav-left {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;

  .main-nav-logo-link {
    height: 100%;
  }

  .main-nav-logo {
    height: 100%;
  }

  ul {
    display: flex;
    gap: 5%;
    padding: 0;
    list-style-type: none;

    .nav-link {
      color: black;
      text-decoration: none;
    }
  }
}

.main-nav-right {
  display: flex;
  align-items: center;
  gap: 10px;

  .sign-in-link {
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 3px 12px;
  }
}

.hero-banner {
  height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 6vh;
  background-image: url(/assets/deel-1/hero-banner.png);
  background-size: cover;
  background-position: center;
  color: white;

  .shopping-link {
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 8px;
  }

  p {
    max-width: 45%;
    text-align: center;
  }
}
