html {
  font-size: 20px;
}

div {
  font-size: 15px;
}

p {
  font-size: 1rem;
  font-family: sans-serif;
}

h2 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}
