body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  border: 4px solid black;
}

td {
  width: 100px;
  height: 100px;
  border: 4px solid black;
}

tr:first-child td:first-child {
  background-color: green;
}

tr:first-child td:last-child {
  background-color: red;
}

tr:nth-child(2) td:first-child {
  background-color: blue;
}

tr:nth-child(2) td:nth-child(2) {
  background-color: red;
}

tr:nth-child(2) td:nth-child(3) {
  background-color: yellow;
}

tr:nth-child(3) td:first-child {
  background-color: green;
}

tr:nth-child(3) td:nth-child(2) {
  background-color: white;
}

tr:nth-child(4) td:first-child {
  background-color: blue;
}

tr:last-child td:first-child {
  background-color: yellow;
}
