* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.product-card {
  border: 2px solid black;
  background-color: lightblue;
  padding: 20px;
  width: 30%;
  position: relative;
}

.product-card img {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Bohemian {
  width: 300px;
  position: sticky;
  right: 0px;
  top: 0px;
}
