* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

body {
  background-color: red;
  margin: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  body {
    background-color: orange;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: purple;
  }
}
