* {
  font-family: Bahnschrift, sans-serif;
  box-sizing: border-box;
}
.container {
  padding: 5px;
  width: 960px;
  margin: 0 auto;
  border: 1px solid #000000;
}
header {
  background-color: #0072ff;
  color: #ffffff;
  padding: 20px;
}
main {
  width: 700px;
  padding: 20px;
  float: left;
}
figure {
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
  float: right;
  margin: 40px 0;
}
footer {
  clear: both;
  text-align: center;
  background-color: #ff0000;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0px;
    border: none;
  }
  figure {
    width: 15%;
    padding: 20px;
    border: none;
  }
  main {
    width: 80%;
  }
  body {
    margin: 0px;
  }
}

@media screen and (max-width: 700px) {
  figure {
    width: 25%;
    padding: 0;
    float: none;
    margin: 0 auto;
  }
}
