* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.position {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 25px;
  width: 600px;
}

.position .nummer {
  width: 10%;
}

.position .bus {
  width: 7%;
}

.position label {
  width: 13%;
}

.position input {
  width: 23%;
}

button {
  width: 28%;
}
