html {
  background-color: lightslategray;
  font-style: sans-serif;
}

.textcolor {
  color: white;
}

h1 {
  color: lightsalmon;
}

a {
  color: white;
  text-decoration: underline;
}

article {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#pukkelpop {
  background-color: lightblue;
  border: 2px solid orange;
  color: white;
}

#rockwerchter {
  background-color: lightcoral;
  border: 2px solid orange;
}

#tomorrowland {
  background-color: lightpink;
  border: 2px solid orange;
  color: white;
}

#graspop {
  background-color: lightgreen;
  border: 2px solid orange;
  color: white;
}

#dour {
  background-color: yellow;
  border: 2px solid orange;
}

.festivals {
  display: flex;
  gap: 20px;
  flex-wrap: left;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 600px;
  background-color: #3b4a5a;
  border: 2px solid #888;
}

th {
  background-color: #1f2a36;
  font-size: 1.2em;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #888;
}

td {
  border: 1px solid #888;
  padding: 6px 10px;
  vertical-align: middle;
}

img {
  width: 200px;
  display: block;
}

tr:nth-child(even) td {
  background-color: #2c3a47;
}

td:last-child {
  text-align: right;
  width: 60px;
}
